body {
  font-family: Arial, sans-serif;
  background-color: #15191C;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.title {
  font: bold 30px Arial;
  margin-top: 20px;
}

.comment {
  color: #8B949E;
  font-size: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}


.second-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.separator {
  border-left: 4px solid #22272B;
  border-radius: 50px;
  height: 30px;
}

.house-temp, 
.house-humidity {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
}

.radial-container {
  background: #22272B;
  text-align: center;
  padding: 0px 0 30px 0;
  margin: 0 10%;
  border-radius: 20%;
  box-shadow: 4px 4px 15px 6px rgb(0 0 0 / 20%);
}

canvas {
  display: block;
  margin: 0 auto;
  position: relative;
}
