<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Temperature</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div class="title">Temperature</div>

  <div class="content">
    <div class="radial-container">
      <canvas id="temperatureChart" width="200" height="200"></canvas>
    </div>

    <div class="second-container">
      <div class="house-temp">
        <span class="comment">House Temp</span>
        <span id="HTempID">0°</span>
      </div>

      <span class="separator"></span>

      <div class="house-humidity">
        <span class="comment">House Humidity</span>
        <span id="HHumidityID">0%</span>
      </div>
    </div>
  </div>
  
  {% include 'navbar.html' %}

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
